@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

input {
  width: 7em;
  text-align: center;
}

#guest {
  width: 5em;
}

.book {
  border-top: solid;
  border-color: #ebebeb;
  border-width: 0.01em;
  padding: 10px;

}

.pernight {
  font-size: small;
  font-weight: 300;
  color: #757575;
  padding: 0px 0px 10px 0px;
}

.checkout {
  border-left: solid;
  border-right: solid;
  border-color: #ebebeb;
  border-width: 0.01em;

}

.subtotal {
  padding: 10px 0px 10px 0px;
}